body {
    background-color: #333333;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    font-family: 'Cursiva', 'Trebuchet MS', 'Arial', sans-serif;
    color: #bbb;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(250, 250, 250, 0.8)), url("./imagens/Default_criptgraphy_0.jpg");
    background-blend-mode: multiply;
}

a {
    color: #bbbbbb;
}

pre {
    color: #bbb;
    white-space: pre-wrap;
    word-wrap: break-word; 
}

a:hover {
    background-color:#771baa ;
    color:#ffffff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
}

.ask-answer {
    align-items: center;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.answer {
    align-items: center;
    border-radius: 5px;
    background-color: #ccc;
    color: #000;
    margin: auto;
    padding: 20px;
}


.ask-section {
    padding: 60px;
    text-align: center;
    background-color: #CCC;
    color: #555;
    border-radius: 8px;
}


.btn {
    border-radius: 5px;
    background-color: #771baa;
    color: #ffffff;
    margin: 2px;
}

.btn:hover {
    border: white solid 1px;
    color: #bbb;
}

.container {
    margin-top: 50px;
}

.data {
    align-items: center;
    border-radius: 5px;
    background-color: #771baa;
    color: #ffffff;
    margin: auto;
    padding-top: 18px;
}

.darker {
    border-radius: 5px;
    background-color: #888888;
    padding: 10px;
}

.footer {
    background-color: #222222;
    color: #cccccc;
    padding: 10px 20px;
    border-radius: 5px;
    margin: auto;
}

/* Classe que será mostrada apenas no hover */
.detalhes {
display: none;
background-color: #444444;
padding: 10px;
border-radius: 5px;
color: #fff;
position: absolute;
top: 100%;
left: 0;
z-index: 10;
width: 100%;
}

.data:hover .detalhes {
    display: block;
}